*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chess board */
.chessboard{
    position: relative;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.chessboard div{
    background-color: #69c9d0;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.material-icons{
    font-size: 8rem ;
    font-weight:bolder;
    color: #EE1D52;
}

/* Popup after someone wins/tie */
#popup{
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#refreshButton{
    width: 12rem;
    height: 7rem;
    border:none;
    border-radius: 1rem;
    background-color: #FFFFFF;
    color:black;
    font-weight: bolder;
    font-size: 2rem;
    transition: 0.5s;
}

#refreshButton:hover{
    background-color: #EE1D52;
}

#refresher{
    color:black;
    font-size: 3rem;
    transition: 0.5s;
}

#winnerNotice{
    position: absolute;
    color:#EE1D52;
    font-size: 3rem;
    font-weight: bold;
    top:20%;
}

